/* CSS declarations go here */
canvas {
  display: inline-block;
  border: 3px solid #333;
  margin: auto;
  background: #FFF;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  text-align: center;
  margin-top: 0px;
  background-color: #303030;
}
